* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #14081a;
    color: #eee;
    text-align: center;
}

nav {
    width: 100%;
    background-color: #22172f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


nav h1 {
    color: #7A1CAC;
    font-size: 1.8em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #7a1cac;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #7a1cac;
    padding-bottom: 3px;
}

.section-divider {
    width: 80%;
    height: 1px;
    background-color: #333;
    margin: 40px auto;
}

.section h2 {
    font-size: 2em;
    color: #7a1cac;
    margin-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    color: #ffffff;
}

.intro {
    display: flex;
    align-items: center;
    gap: 40px;
}

.photo-container {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 50%;
    background: radial-gradient(circle, #324e52 0%, transparent 60%);
    margin-right: 150px;
}

.profile-photo {
    width: 250px;
    height: 350px;
    border-radius: 50%;
}

.intro-text {
    text-align: left;
    max-width: 500px;
    font-weight: 700;
}

.intro-text h2 {
    font-size: 2.5em;
    font-weight: bold;
}

.intro-text h3 {
    font-size: 1.5em;
    margin: 10px 5px;
}

.intro-text p {
    font-size: 1em;
    margin: 10px 0;
    color: #ccc;
    padding: 5px 0px;
}

.highlight {
    color: #7a1cac;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    letter-spacing: 0.15em;
    animation:
        typing 3.5s steps(40, end) forwards,
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

.buttons {
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #7a1cac;
    color: #1c1b2a;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #ffffff;
    color: #1c1b2a;
}

.social-links {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    filter: invert(1);
}

.social-links a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-links a:hover img {
    transform: scale(1.2);
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.skill {
    text-align: center;
    color: #ccc;
}
.skill h2{
    padding: 17px 0px ;
}

.skill img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    border-radius: 15px;

}

.skill:hover img {
    transform: scale(1.2);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.project {
    background-color: #2a2a3b;
    border: 1px solid #7a1cac;
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 255, 255, 0.3);
}
.section h2{
    padding: 17px 0px ;
}
.project h3 {
    font-size: 1.3em;
    color: #7a1cac;
    margin-bottom: 10px;
}

.project p {
    color: #ccc;
}


.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
    padding: 20px;
}
.about-photo img {
    width: 200px;
    border-radius: 1000px;
    box-shadow: 0px 4px 15px rgba(0, 255, 255, 0.2);
}

.about-content {
    max-width: 500px;
    text-align: left;
}

footer {
    background-color: #22172f;
    padding: 20px;
    color: #777;
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;
}